html {
    scroll-behavior: smooth;
  }

main {
    margin-top: 60px;  /*room for navbar*/
}

.myimage {
    display: inline;
}

.project {
    padding-top: 40px;
    padding-bottom: 25px;
}
nav {
    background-color: white;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#about {
    @extend .section;
}

#projects {
    @extend .section;
}

#contact {
    @extend .section;
    padding-top: 25px;
}

.sectionTitle {
    padding-bottom: 25px;
}

.projectlink {
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

i {
    font-size:24px!important;
}

.nav-link:active{
    font-weight: 700;
}

