@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  display: none;
    /* margin-top: 10px; moves it down */
    position: absolute;
    z-index: 1000;
}

.emailCopy {
  cursor: pointer;
}
.emailCopy:hover .tooltip {
  display:block;
}