@import 'highlight.js/styles/vs2015.css';
/* @import 'highlight.js/styles/intellij.css'; */


@tailwind base;
@tailwind components;
@tailwind utilities;



.tooltip {
  display: none;
    /* margin-top: 10px; moves it down */
    position: absolute;
    z-index: 1000;
}

.emailCopy {
  cursor: pointer;
}
.emailCopy:hover .tooltip {
  display:block;
}

html, body, div, span, applet, object, iframe, nav
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
html {
  background-color: #F8FAFC; /* Tailwind slate-50 */
  color: #0f172a; /* Tailwind slate-900 */
}

/* use tailwinds to make all h1s dark green using @apply */
a {
  @apply text-sky-600 hover:text-sky-700 active:focus:text-sky-900 hover:bg-green-100  transition-colors duration-200;
}


/* Blog page css */

h1 {
  @apply text-slate-800 text-4xl font-bold;
}

h2 {
  @apply text-slate-800 text-2xl font-semibold py-2;
}

h3 {
  @apply text-slate-800 text-xl font-semibold py-2;
}

h4 {
  @apply text-slate-800 text-lg font-semibold py-2;
}

h5 {
  @apply text-slate-800 font-semibold py-2;
}

p {
  @apply text-slate-900 py-2 text-lg;
}

li {
  @apply text-slate-900 py-2 text-lg;
  @apply leading-4 ml-5
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

article {
  display: block;
  margin: 0 auto;
  padding: 50px 30px;
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  @apply leading-7;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

iframe {
  width: 100%;
  height: 400px;
}

pre {
  @apply my-4;
  @apply leading-6 
}

.code {
  font-family: Consolas, Menlo, Monaco, 'Courier New', 'Ubuntu Mono', 'Source Code Pro', monospace;

}

.hljs {
  @apply rounded-md !important;
  /* @apply bg-slate-900 rounded-md !important; */


}


/* .hljs {
  padding: 20px !important; 
  overflow-x: auto !important;
  @apply bg-green-50 !important; 
} */

/* .language-bash {
  color: #e2e8f0 !important; 
}

.hljs-comment {
  color: #94a3b8 !important; 
} */